html, body {
	height: 100%;
}
body {
	margin: 0;
	background-color: #302921;
	font-size: 15pt;
	font-family: 'Bangers', cursive;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #302921),
		color-stop(1, #14100C)
	);
	background-image: -o-linear-gradient(bottom, #302921 0%, #14100C 100%);
	background-image: -moz-linear-gradient(bottom, #302921 0%, #14100C 100%);
	background-image: -webkit-linear-gradient(bottom, #302921 0%, #14100C 100%);
	background-image: -ms-linear-gradient(bottom, #302921 0%, #14100C 100%);
	background-image: linear-gradient(to bottom, #302921 0%, #14100C 100%);
}
.char {
	position: absolute;
	display: block;
	background-color: white;
	border-left: 1px solid #600;
	border-bottom: 1px solid #600;
	border-top: 1px solid #200;
	border-right: 1px solid #200;
	padding: 2px;
	cursor: pointer;
	transform: translate3d(0, 0, 0);
	border-radius: 3px;
	min-width: 0.85em;
	min-height: 22px;
	text-align: center;
}
.special {
	color: #c50;
}

.flipped {
	color: #c50;
	background-color: #c50;
}

#game {
	position: relative;
	transform: translate3d(0, 0, 0);
}

#board {
	position: relative;
	width: 1024px;
	height: 576px;
	overflow: hidden;
	border: 2px solid #050;
	margin: auto;
	background: url(../res/felt.png);
	box-shadow: black 0.1em 0.1em 0.2em;
	border-radius: 8px;
}

#fx {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header {
	height: 80px;
	color: #e3c360;
	font-size:38pt;
	line-height:60pt;
	text-shadow: black 0.1em 0.1em 0.2em
}
.bomb {
	background:url(../res/bombemoji.png) no-repeat;
	background-position: 2px 4px;
	background-color: #fff;
	width: 18px;
}

.oneup {
	position: absolute;
	background-color: red;
	color: yellow;
	z-index: 9999;
	padding: 3px;
	border-radius: 5px;
	cursor: pointer;
}
.particle {
	position: absolute;
	font-size: 24pt;
	z-index: 9998;
	cursor: pointer;
}
#giveUp {
	text-decoration: underline;
	cursor: pointer;
	font-size: 10pt;
}